/* header */
.nav{
  color: White;
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0%;
  margin: 0;
  margin-top: 3vh;
  /* display: inline-flex; */
  justify-content: space-around;
  flex-wrap: nowrap;
  position:sticky;
  background-color: black;
}
button.menu{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  border: none;
  font-family: 'Kanit';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-transform: uppercase;
transition:0.2s text-shadow;
cursor:pointer;

}
button.menu:hover{
  text-shadow: 0px 0px 10px white;
  transition-delay: 0.01s;
}

/* Hero */
.hero{
  display: inline-flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  padding-left: 15vw;
  z-index: 2;
}
h1{
  color: rgba(255, 255, 255, 0.91);
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  display: inline-block;
  
}
.desc{
  color: white;
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;

}
/* Model */
div.canv{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  z-index: 1;
  
}
/* Features */


button.book{
  color: black;
  font-family: kanit;
  font-weight: 600;
  border-radius: 1vw;
  font-size: 36px;
  /* background-color: white; */
  position: absolute;
  right: 70%;
  height: 75px;
  width: 286px;
  top: 85%;
  background: rgba(255, 255, 255, 0.629);
  border: none;
  cursor: pointer;
  z-index: 5;
  

}
div.blur{
  position: absolute;
  right: 70%;
  height: 75px;
  width: 286px;
  top: 85%;
  background-color: white;
  z-index: 4;
  background: rgb(255, 255, 255);
  filter: blur(25px);
  transition: 0.2s filter;
}
div.blur:hover{
  filter: blur(50px);
  transition-delay: 0.1s;
}


div.review{
  display: grid;
grid-row: 3;

}
.card
{
  background-color: white;
  height: 300px;
  width: 30vw;

  margin: 2%;


}

/* video set */


div.bigBox{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(black, rgb(31, 30, 30));
  background-size:auto;
}

div.video
{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgb(31, 30, 30),black);
  background-size:auto;
}

iframe.video{
  width: 90vw;
  height: 90vh;
  margin-left: 5%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: 15px;
  border: 2px solid rgba(245, 222, 179, 0.343) ;
}
